img{
  position: absolute;
  height: 100vh;
  left:-75%;
  z-index: 1;
}
p{
  width: 100%;
  position: absolute;
  text-align: center;
  z-index:2;  
  color: white;
  font-size: 3rem;
}

.divstyle
{
  display:flex;
  flex-direction:row;
  width:100%;
}
.divstyle div{
  display: flex;
  justify-content: center;
  align-items: center;
  width:20%;
  height: 100vh;
  overflow:hidden;
  position:relative;

}

@media (max-width:768px) {
  .divstyle{
    flex-direction: column;
  }
  .divstyle div{
    width: 100%;
    height: 20vh;
  }
  img{
   left: 0;
   max-width: 100%;
   height: 100%;
   width: 100%;
   object-fit: cover;
  }
  
}